/* Author: Jeremy Cope
Date: 16/05/2024
*/

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* =========== BASE STYLING =========== */
/* General styling for the entire page */

/* Gradient background code found and modified @ https://codepen.io/P1N2O/pen/pyBNzX */
body {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #1b1f1f;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
}

/* Keyframes for the background gradient animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Wrapper for the main content, centering and setting max width */
#wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Headings */
h1, h2, h3, h4 {
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px; /* they were too spaced out */
    margin-bottom: 10px
}

header h1 { font-size: 3em; display: none; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }

/* Links */
a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

/* Box styling for a consistent look */
.box-full {
    border: 3px solid #fff;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: 100%;
    max-width: calc(100% - 40px); /* Ensure the max width accounts for the padding on both sides */
}

/* =========== BUTTONS =========== */
/* Stylish ghost buttons for consistent look and feel */

/* Code for ghost button found @ https://1stwebdesigner.com/creating-ghost-buttons-with-css/ */
.ghost-button {
    text-align: center;
    color: #fff;
    background: #1b1f1f;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 24px;
    transition: background 0.3s, color 0.3s;
}

.ghost-button:hover, .ghost-button:active {
    color: #1b1f1f;
    background: #fff;
}

/* =========== NAVIGATION =========== */
/* Styling for the navigation bar */

nav {
    display: flex;
    justify-content: space-between; /* Space between the logo and the buttons */
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1b1f1f; /* Background color to match the ghost buttons */
    border-radius: 6px;
    padding: 10px 20px;
    z-index: 1000; /* Ensures nav stays on top */
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100% - 40px);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
}

/* Ghost button styling specific to the navigation */
nav a.ghost-button {
    display: inline-block;
    background: transparent;
}

nav a.ghost-button:hover, nav a.ghost-button:active {
    color: #1b1f1f;
    background: #fff;
}

.nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; /* Ensures the toggle button stays on the far right */
}

/* =========== BANNER SECTION =========== */
/* Banner section with a background image and a slightly transparent banner */
#banner {
    background: url('./images/img_background.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center; /* Centers content inside the banner */
}

#banner img {
    display: block;
    margin: 0 auto; /* Centers the image */
    height: 200px;
}



/* =========== PROFILE SECTION =========== */
/* Styling for the profile section */
#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#profile img {
    border-radius: 50%;
}

/* Styling for the profile about me section */
#profile-about {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
    margin-bottom: 20px;
}
#profile-about aside {
    margin-bottom: 20px; /* Space between image and text */
}

#profile-about img {
    border-radius: 50%;
}

/* Styling our animated gradient text */
.animated-gradient {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  background: linear-gradient(270deg, #ff4b59, #ff9057, #ffc764, #50e3c2, #4a90e2, #b8e986, #ff4b59);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease-in-out infinite;
}

/* Ensures the buttons are aligned on the right and displayed in rows */
#profile div {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns buttons to the right */
    gap: 10px; /* Adds space between the buttons */
}

#profile .ghost-button {
    width: 100px;
}

/* it didnt look good with the text touching the profile picture or buttons when the page resized so i added a little padding */
#profile article {
    padding-left: 10px;
    padding-right: 10px;
}

/* =========== SERVICES SECTION =========== */
/* Styling for the services section */
#services {
    padding: 20px;
    margin-bottom: 20px;
}

#services .aside-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure the items don't wrap */
    justify-content: space-between;
    width: 100%; /* Ensures the container takes the full width */
}

#services article {
    flex: 1 0 25%; /* Adjust the width of the article */
    margin-right: 20px;
    box-sizing: border-box;
}

#services .box-full {
    flex: 1 0 23%; /* Adjust the width of the asides */
    margin-right: 20px; /* Adjust margin to the right to create space between asides */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#services img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* =========== REPAIRS SECTION =========== */
/* Specific styling for the repairs section */
#repairs {
    padding: 20px;
    margin-bottom: 20px;
}

#repairs .aside-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure the items don't wrap */
    justify-content: space-between;
    width: 100%; /* Ensures the container takes the full width */
}

#repairs article {
    flex: 1 0 25%; /* Adjust the width of the article */
    margin-right: 20px;
    box-sizing: border-box;
}

#repairs .box-full {
    flex: 1 0 23%; /* Adjust the width of the asides */
    margin-right: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

#repairs img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Text on the Left, Image on the Right */

/* Biography Section */
#left-right {
    display: flex;
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap;
    align-items: center;
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
}
#left-right article {
    flex: 1;
    padding: 20px;
}
#left-right aside {
    flex: 0 0 auto;
    width: 40%; /* Adjust as needed */
}

/* Text on the Right, Image on the Left */

/* Sustainability Section */
#right-left {
    display: flex;
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap;
    align-items: center;
    text-align: right; /* Align text to the left */
    margin-bottom: 20px;
    padding: 20px;
}
#right-left article {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}
#right-left aside {
    flex: 0 0 auto;
    width: 40%; /* Adjust as needed */
}

/* =========== CONTACT FORM SECTION =========== */
/* Styling for the contact form section */
#contact-form {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#contact-form article {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

#contact-form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #1b1f1f;
    color: #ffffff;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #1b1f1f;
}

/* =========== SOCIAL MEDIA SECTION =========== */
/* Styling for the social media section */
#social-media {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#social-media .fb-posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#social-media .fb-post {
    padding: 15px;
}

/* =========== CUSTOMER TESTIMONIALS SECTION =========== */
/* Styling for the customer testimonials section */
#customer-testimonials {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#customer-testimonials .aside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto; /* Center the container within its parent */
    overflow-x: auto;
    box-sizing: border-box;
}

#customer-testimonials .box-full {
    flex: 0 0 auto;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

/* CSS for the radial gradient animation specific to the customer testimonials section */
#customer-testimonials .aside-container aside {
    flex: 1 0 250px; /* Allow flex items to grow and shrink, with a base width of 250px */
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.7), rgba(218, 165, 32, 0.7), rgba(184, 134, 11, 0.9), rgba(250, 250, 210, 0.8));
    background-size: 400% 400%;
    animation: radial-gradient-animation 10s ease infinite;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5); /* Enhancing the glowing effect with box shadow */
}

/* Keyframes for the radial gradient animation */
@keyframes radial-gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#customer-testimonials .box-full blockquote {
    margin: 10px 0;
}

#customer-testimonials .box-full p {
    margin: 5px 0;
}

/* =========== FIND US SECTION =========== */
/* Styling for the find us section */
#find-us {
    padding: 20px;
    margin-bottom: 20px;
}

#find-us iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 6px;
}

#find-us .box-full {
    max-width: 100%; /* Ensures the google map location fits within the outer box neatly */
}


/* =========== GALLERY =========== */
/* Gallery section styling */

#gallery {
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black with opacity */
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* =========== FAQ ACCORDIAN =========== */
/* Accordion styles */
#faq {
    margin-bottom: 20px;
}

#faq accordian {
    border-color: rgba(255, 255, 255, 0.3);
}

.accordion {
    margin: 20px 0;
    align-content: flex-start;
    margin-bottom: 20px;
    
}

.accordion-item {
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
}

.accordion-header {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    color: #1b1f1f;
    transition: background-color 0.3s ease;
    border: none; /* Remove border from the header */
    width: 100%; /* Make the header take up the full width of its container */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: block; /* Ensure the button acts like a block element */
}

.accordion-header:hover, .accordion-header.active {
    background-color: #555;
    color: #ffffff;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 15px;
}

.accordion-content p {
    margin: 15px 0;
    padding: 0;
    color: #1b1f1f;
}

/* =========== FOOTER =========== */
/* Styling for the footer */
footer {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    padding: 0px 10px 10px 10px;
}

/* Grow hover effect adapted from code found @ https://codepen.io/AdamCCFC/pen/WvzBKq */
footer li.grow {
    transition: all 0.2s ease-in-out;
}

footer li.grow:hover {
    transform: scale(1.5);
}

/* =========== MEDIA QUERIES =========== */
/* Responsive design adjustments */

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
    /* Remove the rightmost Facebook post */
    #social-media .fb-post:nth-child(3) {
        display: none;
    }

    /* Spread the remaining two Facebook posts evenly */
    #social-media .fb-post {
        flex: 1 0 45%; /* Adjust the width to spread evenly */
        margin: 0 10px; /* Adjust margin for even spacing */
    }

    /* Adjust customer testimonials to spread over two rows */
    #customer-testimonials .aside-container {
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: space-between; /* Spread items evenly */
    }

    #customer-testimonials .box-full {
        flex: 1 0 45%; /* Adjust width for two items per row */
        margin: 10px; /* Add margin for spacing */
    }
}

/* Media query for screens smaller than 1000px */
@media (max-width: 1050px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        position: absolute;
        top: 50px; /* based on nav height */
        right: 0;
        gap: 0px;
    }

    nav ul.open {
        display: flex;
    }

    .nav-toggle {
        display: block;
        align-items: flex-end;
    }

    /* Styles for the dropdown menu */
    nav ul {
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.8); /* Trans background */
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        width: 100%;
        text-align: right;
        padding-right: 20px; /* Adjust padding to align text neatly */
        background-color: #1b1f1f; /* Ensure buttons still have background */
        border: none; /* Remove border if any */
    }
    
    #left-right, #right-left {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center text */
    }
    #left-right aside, #right-left aside {
        width: 100%; /* Full width for the image */
        margin: 0 0 20px 0; /* Margin below the image */
    }
    #left-right article, #right-left article {
        padding: 0 20px 20px 20px; /* Padding around the text */
    }
}
}

/* Media query for screens larger than 1000px */
@media (min-width: 1051px) {
    .nav-toggle {
        display: none;
    }
}

/* Media query for screens smaller than 900px */
@media (max-width: 900px) {
    h1 { font-size: 2.5em; }
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }
    p, a, blockquote { font-size: 0.95em; }
    
    /* Remove the rightmost Facebook post */
    #social-media .fb-post:nth-child(2) {
        display: none;
    }

    
    /* Adjust the layout of Services and Repairs sections */
    #services .aside-container,
    #repairs .aside-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center the asides */
    }

    #services article,
    #repairs article {
        order: -1; /* Ensure the article appears first */
        margin-bottom: 20px; /* Add some space below the article */
    }

    #services .box-full,
    #repairs .box-full {
        width: 75%; /* Display asides at 75% of their original size */
        margin-bottom: 20px; /* Add some space between asides */
    }
}

/* Media query for screens smaller than 700px */
@media (max-width: 700px) {
    #banner {
        padding: 10px; /* Add padding to the banner container */
    }
    #banner img {
        width: calc(100% - 20px); /* Adjust the width to account for the padding */
        height: auto;
    }
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1em; }
    h4 { font-size: 0.9em; }
    p, a, blockquote { font-size: 0.85em; }
    
/* Adjust the profile section to display better on small screens */
    #profile {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    #profile aside {
        order: 2; /* Move the image under the profile article */
        width: 100%; /* Ensure full width of the container */
        text-align: center;

    }
    #profile aside img {
        width: 30%; /* Reduce the image width by half */
        height: auto; /* Maintain aspect ratio */
    }
    #profile article {
        order: 1; /* Keep the article at the top */
        text-align: center; /* Center align the text */
    }
    #profile div {
        order: 3; /* Move buttons to the bottom */
        width: 100%; /* Make the button container full width */
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
        align-items: center;
        gap: 10px; /* Add some space between buttons */
        margin-top: 20px; /* Add some space above the buttons */
    }
    #profile .ghost-button {
        width: 25%; /* Reduce button width by half */
        padding: 10px
    }
}